<p>Pěkný den,</p>

<p>když se registrujete na Duolingo.com, musíte provést všechny tři kroky popsané v <a href="https://is.muni.cz/auth/el/1441/jaro2016/ONLINE_A/op/index.html#!/aktivity_duolingo.html">instrukcích k aktivitě</a>.</p>

<ol>
    <li>na <a href="https://www.duolingo.com/course/en/cs">stránce kurzu na Duolingo.com</a> se zaregistrovat do kurzu</li>
    <li>kliknout na odkaz <a href="https://www.duolingo.com/o$o=dnk@mail.muni.cz&s=Jaro2016">https://www.duolingo.com/o$o=dnk@mail.muni.cz&s=Jaro2016</a>, který zapne sdílení vašich pokroků s uživatelem AnglictinaOnline</li>
    <li>v ISu ve <a href="https://is.muni.cz/auth/df/duo_2016t1/">fóru k aktivitě Duolingo</a> napsat do předchystaného vlákna svoji duolingovou přezdívku</li>
</ol>

{{if .Click}}
<p>Vypadá to, že jste neprovedli krok 2. Dokud nekliknete na odkaz a nezapnete sdílení pokroků, neuvidím, co jste na Duolingu udělali, a nemůžu vám dát body.</p>
{{end}}
{{if .Post}}
</p>Vypadá to, že jste neprovedli krok 3. Dokud mi nenapíšete do fóra svou přezdívku, nemůžu vám dát body, protože nevím, který student má kterou přezdívku.</p>
{{end}}

<p>Proveďte prosím chybějící krok co nejdříve, nejpozději do neděle do večera, jinak nedostanete body za tento týden.</p>

<pre>
--
Jiří Daněk
https://is.muni.cz/auth/cd/1441/jaro2016/ONLINE_A/
ONLINE_A Angličtina online
</pre>
