<!doctype html>
<html ⚡>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
    <style>body {opacity: 0}</style>
    <noscript>
        <style>body {opacity: 1}</style>
    </noscript>
    <script async src="https://cdn.ampproject.org/v0.js"></script>
    <title>ONLINE_A Duolingo</title>
    <style amp-custom>
        article,header,nav,footer {margin: 1em 2em;}
        p.error {color: red;}
    </style>
</head>
<body>
<header>
    <h1>Angličtina Online</h1>

    <h2>aktivita Duolingo</h2>
</header>
<hr>
<nav>
    <ul>
        <li><a href="/logout">Odhlásit se</a></li>
    </ul>
</nav>
<hr>
<article>
    {{if .Err}}
    <p class="error">{{.Err}}</p>
    {{else}}
    <h3>Průběžný přehled bodů za týden {{.Tyden}}</h3>

    <p>pro osobu {{.Jmeno}} ({{.Uco}}): {{.Nick}}</p>
<pre>
{{.Tabulka}}
</pre>
    {{end}}
</article>
<hr>
<footer>
    <ul>
        <li><a href="https://is.muni.cz/auth/cd/1441/podzim2015/ONLINE_A.DUO/59229465">Instrukce k aktivitě</a> (IS MU)
        </li>
        <li><a href="https://is.muni.cz/auth/cd/1441/podzim2015/ONLINE_A.DUO/">Diskusní fórum</a> (IS MU)</li>
    </ul>
</footer>
</body>
</html>